<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtei.tailorsys.mapper.ClothConsumptionMapper">
    <resultMap id="BaseResultMap" type="com.xtei.tailorsys.entity.ClothConsumption">
        <id column="consum_id" jdbcType="INTEGER" property="consumId"/>
        <result column="clothtype_id" jdbcType="INTEGER" property="clothtypeId"/>
        <result column="consum_width" jdbcType="DOUBLE" property="consumWidth"/>
        <result column="shirt_length" jdbcType="DOUBLE" property="shirtLength"/>
        <result column="bust" jdbcType="DOUBLE" property="bust"/>
        <result column="shoulder_width" jdbcType="DOUBLE" property="shoulderWidth"/>
        <result column="sleeve_length" jdbcType="DOUBLE" property="sleeveLength"/>
        <result column="wrist_circum" jdbcType="DOUBLE" property="wristCircum"/>
        <result column="neck_circum" jdbcType="DOUBLE" property="neckCircum"/>
        <result column="pants_length" jdbcType="DOUBLE" property="pantsLength"/>
        <result column="chest_height" jdbcType="DOUBLE" property="chestHeight"/>
        <result column="skirt_length" jdbcType="DOUBLE" property="skirtLength"/>
        <result column="waist_circum" jdbcType="DOUBLE" property="waistCircum"/>
        <result column="hipline" jdbcType="DOUBLE" property="hipline"/>
        <result column="knee_circum" jdbcType="DOUBLE" property="kneeCircum"/>
        <result column="ankle_circum" jdbcType="DOUBLE" property="ankleCircum"/>
        <result column="total_length" jdbcType="DOUBLE" property="totalLength"/>
        <result column="FWL" jdbcType="DOUBLE" property="fwl"/>
        <result column="back_length" jdbcType="DOUBLE" property="backLength"/>
        <result column="hip_height" jdbcType="DOUBLE" property="hipHeight"/>
        <result column="consum_note" jdbcType="DOUBLE" property="consumNote"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from cloth_consumption_datainfo
        where consum_id = #{consumId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.xtei.tailorsys.entity.ClothConsumption">
        insert into cloth_consumption_datainfo (consum_id, clothtype_id, consum_width,
                                                shirt_length, bust, shoulder_width,
                                                sleeve_length, wrist_circum, neck_circum,
                                                pants_length, chest_height, skirt_length,
                                                waist_circum, hipline, knee_circum,
                                                ankle_circum, total_length, FWL,
                                                back_length, hip_height, consum_note)
        values (#{consumId,jdbcType=INTEGER}, #{clothtypeId,jdbcType=INTEGER}, #{consumWidth,jdbcType=DOUBLE},
                #{shirtLength,jdbcType=DOUBLE}, #{bust,jdbcType=DOUBLE}, #{shoulderWidth,jdbcType=DOUBLE},
                #{sleeveLength,jdbcType=DOUBLE}, #{wristCircum,jdbcType=DOUBLE}, #{neckCircum,jdbcType=DOUBLE},
                #{pantsLength,jdbcType=DOUBLE}, #{chestHeight,jdbcType=DOUBLE}, #{skirtLength,jdbcType=DOUBLE},
                #{waistCircum,jdbcType=DOUBLE}, #{hipline,jdbcType=DOUBLE}, #{kneeCircum,jdbcType=DOUBLE},
                #{ankleCircum,jdbcType=DOUBLE}, #{totalLength,jdbcType=DOUBLE}, #{fwl,jdbcType=DOUBLE},
                #{backLength,jdbcType=DOUBLE}, #{hipHeight,jdbcType=DOUBLE}, #{consumNote,jdbcType=DOUBLE})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.xtei.tailorsys.entity.ClothConsumption">
        update cloth_consumption_datainfo
        set clothtype_id   = #{clothtypeId,jdbcType=INTEGER},
            consum_width   = #{consumWidth,jdbcType=DOUBLE},
            shirt_length   = #{shirtLength,jdbcType=DOUBLE},
            bust           = #{bust,jdbcType=DOUBLE},
            shoulder_width = #{shoulderWidth,jdbcType=DOUBLE},
            sleeve_length  = #{sleeveLength,jdbcType=DOUBLE},
            wrist_circum   = #{wristCircum,jdbcType=DOUBLE},
            neck_circum    = #{neckCircum,jdbcType=DOUBLE},
            pants_length   = #{pantsLength,jdbcType=DOUBLE},
            chest_height   = #{chestHeight,jdbcType=DOUBLE},
            skirt_length   = #{skirtLength,jdbcType=DOUBLE},
            waist_circum   = #{waistCircum,jdbcType=DOUBLE},
            hipline        = #{hipline,jdbcType=DOUBLE},
            knee_circum    = #{kneeCircum,jdbcType=DOUBLE},
            ankle_circum   = #{ankleCircum,jdbcType=DOUBLE},
            total_length   = #{totalLength,jdbcType=DOUBLE},
            FWL            = #{fwl,jdbcType=DOUBLE},
            back_length    = #{backLength,jdbcType=DOUBLE},
            hip_height     = #{hipHeight,jdbcType=DOUBLE},
            consum_note    = #{consumNote,jdbcType=DOUBLE}
        where consum_id = #{consumId,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select consum_id,
               clothtype_id,
               consum_width,
               shirt_length,
               bust,
               shoulder_width,
               sleeve_length,
               wrist_circum,
               neck_circum,
               pants_length,
               chest_height,
               skirt_length,
               waist_circum,
               hipline,
               knee_circum,
               ankle_circum,
               total_length,
               FWL,
               back_length,
               hip_height,
               consum_note
        from cloth_consumption_datainfo
        where consum_id = #{consumId,jdbcType=INTEGER}
    </select>

    <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
        select consum_id, clothtype_id, consum_width, shirt_length, bust, shoulder_width,
        sleeve_length, wrist_circum, neck_circum, pants_length, chest_height, skirt_length,
        waist_circum, hipline, knee_circum, ankle_circum, total_length, FWL, back_length,
        hip_height, consum_note
        from cloth_consumption_datainfo
        <where>
            <if test="query != null and query !=''">
                clothtype_name LIKE concat('%',#{query},'%')
            </if>
        </where>
    </select>

    <select id="selectColumnInfo" resultType="java.util.HashMap">
        SELECT column_name,
               column_comment
        FROM information_schema.columns
        WHERE table_schema = 'tailorsysdb_demo'
          AND table_name = 'cloth_consumption_datainfo'
    </select>
</mapper>